.header h2 {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-bottom: -5px; */

}

.header img {
    margin-top: -50px;
    width: 200px;
}

.navbar {

    background-color: brown;

}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;

}

.navbar nav a:hover {
    background-color: white;
    color: brown;
    border-radius: 10px;
}